<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> myCRYPTO - {% block titulo %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/pico.css">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>

    <body>
        <header data-theme="dark">
            <div class="header"> myCRYPTO </div>
            <nav> <!-- contiene enlaces de navegación -->
                <ul>
                    <li><a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Inicio </a></li>
                    <li><a href="/purchase"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Compra </a></li>
                    <li><a href="/status"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Status </a></li>
                </ul>
            </nav>
        </header>

        <div class="container">
            {% block resumen %}{% endblock %} 
        </div>
<br><br>
        <footer data-theme="dark">
            &copy; 2020 - Todos los derechos reservados
        </footer>
    </body>
</html>