{% extends 'base.html' %}

{% block titulo %} Compras {% endblock %}

{% block resumen %}

<style>
    #tabla_form {
        font-family: arial, sans-serif;
        border: none;
        width: 100%;
        }
    td {
        vertical-align: center ;
        border: none;
    }
    tr {
        border: none;
    }
    #etiqueta {
        font-size:larger;
        vertical-align: text-top;
    }

</style>

    <h1 style="text-align: center;">COMPRA DE CRIPTOS</h1>
    <form action="/purchase" method="POST">
        {{ form.hidden_tag() }}

        <div>
        <table id="tabla_form">
            <tr>
                <td id="etiqueta"> {{form.from_currency.label}}  </td>
                <td>  {{ form.from_currency }} </td> 
                <td>  </td>
                <td id="etiqueta"> {{form.to_currency.label}}   </td>
                <td>  {{ form.to_currency }} </td> 
            </tr>
            
            <tr>
                <td id="etiqueta"> {{form.from_quantity.label}}  </td>
                {% if vacio =='yes' %} 
                    <td> {{form.from_quantity(placeholder='Entre una cantidad válida')}} </td>
                {% else %}
                        <td> {{ form.from_quantity(readonly= "True") }} </td>
                {% endif %}
                
                <td> <button name="submit"  type="submit" value="Calcular" title="Calcular"> <i class="fa fa-calculator" aria-hidden="true"> </i> </button> </td>
                
                <td id="etiqueta"> {{form.to_quantity.label}}  </td>
                {% if vacio == 'yes' %}
                    <td>  ________________________________ </td>
                {% else %}
                    <td> {{ form.to_quantity(value =  "{:.4f}".format(q_to) ) }} </td>
                {% endif %}
            </tr>
            
            <tr>
                <td colspan="3">  </td>
                <td id="etiqueta"> {{form.precio_unitario_to.label}}  </td>
                {% if vacio == 'yes' %}
                    <td>  ________________________________  </td>
                {% else %}
                    <td> {{ form.precio_unitario_to(value =  "{:.8f}".format(precioUnitario) ) }} </td>
                {% endif %}
            </tr>

            <tr>
                <td colspan="3">  </td>
                <td style="vertical-align:top">  <a href="/purchase" role="button" title="Limpiar formulario"> <i class="fa fa-times" aria-hidden="true"></i>
                </a> </td>
                <td><button name="submit"  type="submit" value="Grabar" title="Efectuar compra"> <i class="fa fa-check" aria-hidden="true"></i> </button> </td>
            </tr>
        </table>
        </div>
        

        <div>
        {% if error %}
            <p class=error> <mark> <strong>Error:</strong>  {{ error }} </mark>
        {% endif %}
        </div>

        <p hidden>La fecha y hora de la compra es: {{form.date(value=fecha_compra) }} a las {{form.time(value=hora_compra)}}</p>
    </form>

    <div>
    <hgroup>
        <h2>Monedero: </h2>
        <h3>¿Cuánto tienes de cada criptomoneda?</h3>
    </hgroup>
        {% if monedero == 'vacio' %}
            <p style="color:blue;"> <strong>Primera compra:</strong> Use Euros (EUR) para obtener Bitcoins (BTC). </p>
        {% else %}
            {% for moneda, cantidad in monedero.items() %}
                {% if cantidad == None %}
                    <!-- no hagas nada -->
                {% elif cantidad > 0  %}
                    <li> <img src="static/images/{{moneda}}.png" alt="icono criptomoneda"> {{moneda}} = {{ "{:.4f}".format(cantidad) }}</li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

