{% extends 'base.html' %}

{% block titulo %} Estado {% endblock %}

{% block resumen %}
    <h1>ESTADO DE LA INVERSIÓN</h1>
    <table>
        <tr>
            <td>Invertido:</td>
            <td> {{ invertido }} €</td>
        </tr>
        <tr>
            <td>Valor actual: </td>
            <td>{{ actual }} €</td>
        </tr>
    </table>

    {% if error_conexion %}
    <p class=error style="color: red;"><strong>Error:</strong> {{ error_conexion }}
    {% endif %}  

<br><br>
    <div>
        <form action="/">
            <input type="submit" value="Volver"/>
        </form>
    </div>
{% endblock %}